
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
   
}
.cards{
     width: 280px;
     height: 400px;
     background-color: rgb(255, 255, 255);
     border: 2px solid black;
     padding-top: 10px;
     
     

     
}
img{
    
     height: 200px;
     width: 250px;
    
}
.parent{
    position: relative;
}
.ratings{
    position: absolute;
    /* z-index: 2; */
    background-color: rgb(75, 130, 233);
    top:170px;
    margin-left: 20px;
    
     
}