

<input type="text" [(ngModel)]="term" (keyup)="filter()">


  <select [(ngModel)]="column" > 
   <option>Vehicle</option>
  <option >manufacturer</option>
  <option >model</option>
  <option >fuel</option>
  <option >color</option>
  <option >cost</option>
</select>

<select [(ngModel)]="order" > 
   <option>asc</option>
   <option >desc</option>
 </select>

 <button class="btn btn-primary" (click)="sort()" >Sort</button>

 <select [(ngModel)]="limit" > 
   <option>10</option>
  <option >20</option>
  <option >30</option>
  <option >40</option>
  <option >50</option>
  <option >60</option>
</select>

<select [(ngModel)]="page" > 
   <option>1</option>
   <option >2</option>
   <option >3</option>
   <option >4</option>
 </select>
 <button class="btn btn-primary" (click)="pagination()" >pagination</button> 

 <button class="btn btn-primary" routerLink="/createvehicle">createvehicle</button>

 
 

<table class="table table-dark table-striped table-hover table-bordered
">
     <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>Cost</th>
            <th>image</th>
            <th colspan="3">Actions</th>
            

        </tr>
     </thead>
   <tbody>
         <tr *ngFor="let vehicle of vehicles">
            
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.cost  | balance }}</td>
            <td><img src="{{vehicle.image}}" alt=""  width="50px" ></td>

            <td><button class="btn btn-info" routerLink="/vehicledetails/{{vehicle.id}}"><i class="bi bi-eye-fill"></i></button></td>
            <td><button class="btn btn-info" routerLink="/edit-vehicle/{{vehicle.id}}"><i class="bi bi-pencil-square"></i></button></td>
            <td><button class="btn btn-danger" (click)="delete(vehicle.id)"><i class="bi bi-trash-fill"></i></button></td>
            

         </tr>
   </tbody>
</table>


