<form action="" [formGroup]="vehicleForm">

    <!-- <h1>Create Vehicle</h1> -->

    <!-- <h1>{{id? 'Edit Vehicle' : 'Create vehicle'}}</h1> -->

    <h1 *ngIf="id">Edit Vehicle</h1>
    <h1 *ngIf="!id">Create Vehicle</h1>

    <label for="">Vehicle name</label>
    <input type="text" formControlName="Vehicle"> <br>
    <label for="">manufacturer</label>
    <input type="text" formControlName="manufacturer" > <br>
    <label for="">model</label>
    <input type="text" formControlName="model" > <br>
    <label for="">type</label>
    <input type="text"  formControlName="type"> <br>
    <label for="">fuel</label>
    <input type="text"  formControlName="fuel" > <br>
    <label for="">color</label>
    <input type="text" formControlName="color"  > <br>
    <label for="">image</label>
    <input type="text" formControlName="image" > <br>

    <label for="">cost</label>
    <input type="text"  formControlName="cost"> <br>

    <button class="btn btn-primary" (click)="submit()" >Submit</button>
    
    









</form>
