.parent{
    background-color: rgb(233, 207, 120);
    
}
.container{
    width: 800px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: black;
    
}
h3{
    color: yellow;
}

.btn{
    border-color: yellow;
    color: yellow;
}
.star-img {
    width: 20px; /* Adjust the size of the stars as needed */
    height: 20px;
    margin-right: 2px; /* Optional: Add some spacing between the stars */
}
