<div class="parent">

    <div class="nav">
        <h2 id="t"> Social Profiles</h2>
    </div>
    <div class="main">
        <div class="cards"*ngFor="let profiles of profiles" >

            <img src="{{profiles.profilePic}}" alt=""> <br> <br>
             
                 <h2 style="padding-left: 80px;" >{{profiles.fullName}}</h2>
                 <p style="padding-left: 120px;">{{profiles.username}}</p>
                 <P><B></B>{{profiles.bio}}</P>
                 <p> <b>Location</b> :{{profiles.location}}</p>
        <p> <b>Work</b> :{{profiles.work}}</p>
        <p style="padding-left: 20px;"> <b>Hobbies</b> :{{profiles.hobbies}}</p>
        <p style="padding-left: 20px;" > <b>Interests</b> :{{profiles.interests}}</p> 

        <a   href="">Visit Homepage</a> <br> <br>

        
        <p class="tag1"> <span>Followers : <b>{{profiles.followersCount}}</b></span></p>
            
    <div class="num"> 
                <p class="tag2"> <span>Following: <b> {{profiles.followingCount}}</b></span></p> 
                <p class="tag2"> <span>Posts: <b> {{profiles.postsCount}}</b></span></p>
    </div>

        </div>

    </div>
    

</div>
